<ion-header>
  <ion-toolbar transparent align-title="center">
    <ion-title class="xgs-form-title text-center">{{pageTitle}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content padding>
  <div *ngIf="!payload || !payload.length">
    <div> No locations created yet. Create a new location and select it to begin</div>
  </div>
  <div *ngIf="payload && payload.length >0">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div class="gs-table-cont text-center">
      <table mat-table [dataSource]="tbl.tblDataSource" class="mat-elevation-z8 text-center">

        <!-- date Column -->
        <ng-container matColumnDef="dateCreated">
          <th mat-header-cell *matHeaderCellDef> Created </th>

          <td mat-cell *matCellDef="let element"> {{element.dateCreated | date:'M/d/yy'}} </td>


        </ng-container>

        <!-- parentSampleID  Column -->
        <ng-container matColumnDef="parentSampleID">
          <th mat-header-cell *matHeaderCellDef> Sample ID </th>
          <td mat-cell *matCellDef="let element"> {{element.parentSampleID}} </td>
        </ng-container>

        <!-- user given loc name Column -->
        <ng-container matColumnDef="userEntityName">
          <th mat-header-cell *matHeaderCellDef> Location </th>
          <td mat-cell *matCellDef="let element"> {{element.location1}} </td>
        </ng-container>

        <!-- created by Column -->
        <!-- 
<ng-container matColumnDef="loggedBy">
          <th mat-header-cell *matHeaderCellDef> Creator </th>
          <td mat-cell *matCellDef="let element"> {{element.loggedBy}} </td>
        </ng-container>
        -->


        <tr mat-header-row *matHeaderRowDef="tbl.displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tbl.displayedColumns;" (click)="tblRowClickH(row)"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons [length]="resultsLength"
        [pageSize]="tbl.pageSize"></mat-paginator>
    </div>
  </div>
</ion-content>