.gs-recordcounts-loading,
.gs-recordcounts {
    background: white;
    padding: 10px;
    color: black;
    // font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
    padding-bottom: 40px;
    min-height: 22px;
}

.gs-recordcounts-loading {
    font-weight: normal;
}